[MESSAGES CONTROL]
enable=all
disable=redefined-builtin,too-many-ancestors

[REPORTS]
output-format=colorized

[BASIC]
argument-rgx=[a-z_][a-z0-9_]{1,30}$
function-rgx=[a-z_][a-z0-9_]{1,30}$
variable-rgx=[a-z_][a-z0-9_]{0,30}$
